 <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-light">
  <div class="col-4">
<img class="mb-2 mt-2" src="https://staph.blob.core.windows.net/images-layout/logo.svg" alt="" width="100">
  </div> 
      <div class="navbar-collapse offcanvas-collapse" [class.open]="isOffCanvasOpen" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="btn btn-link nav-link" (click)="homepage()">Dashboard</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link" *ngIf="isAdmin" (click)="reportIssue()">Report an issue <span class="sr-only"></span></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link" (click)="viewReportIssue()">Defect Records<span class="sr-only"></span></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link" *ngIf="isAdmin" (click)="creatematrix()">Configure Matrix <span class="sr-only"></span></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link"  *ngIf="isAdmin"  (click)="accountRequests()">Account Requests <span class="sr-only"></span></button>
          </li> 
            <li class="nav-item">
            <button class="btn btn-link nav-link"   (click)="creatematrix()">Parts Search <span class="sr-only"></span></button>
          </li> 
          <li class="nav-item dropdown">
            <button class="btn btn-link nav-link" (click)="logout(); toggleOffCanvas()">Logout</button>
          </li>
        </ul>
      </div>
       <div class="status">
        <span class="active">
          <label style="font-size:small !important">{{loginname}}</label>
        </span>
      </div> 
       <button  (click)="toggleOffCanvas()" class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>