<app-header></app-header>
<app-loader [loading]="isLoading"></app-loader>
<app-notification [successNotificationEnabled]="enableNotification_success"></app-notification>
<app-notification [failureNotificationEnabled]="enableNotification_failure"></app-notification>
<div class="m20">
    <div class="pad20 d-flex justify-content-between">
        <button type="button" (click)="Refresh()" class="btn btn-outline-primary btn-sm custom-btn">
            <i class="bi bi-bootstrap-reboot"></i> Refresh
        </button>
        <button type="button" *ngIf="login_role == 'admin'" (click)="addNewMatrix()" class="btn btn-outline-primary btn-sm custom-btn">
            <i class="bi bi-plus"></i> New Matrix
        </button>
        <button type="button" (click)="applyFilterOptions()" class="btn btn-outline-primary btn-sm custom-btn">
            <i class="bi bi-filter"></i> Apply filter
        </button>
    </div>
     <div *ngIf="filter_part_number !== ''" class="mb-3" style="display: flex;">
        <span class="filter_span" style="margin-right: 10px;"> <i class="bi bi-filter"></i>  Applied filters </span>
        <div class="d-flex flex-wrap gap-2">
             <div class="badge bg-warning p-2 text-dark" *ngIf="filter_part_number !== ''">
                 Part No. : {{ filter_part_number }}
                 <i class="bi bi-x ms-2" role="button" (click)="removeFilter('partnumber')"></i>
             </div>
        </div>
     </div>
</div>

<div class="ma-10">
    <div class="table-wrap">
        <div class="table-responsive custom-scroll">
            <table class="table issue_detail">
                <thead>
                    <tr>
                        <th>Part Number</th>
                        <th>Plant</th>
                        <th width="300">Control plan position</th>
                        <th width="300">Book position</th>
                        <th width="200">Control Plan Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="alert"
                        *ngFor="let matrix of this.matrixViewDataDetails | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td><button *ngIf="login_role == 'admin'" type="button" (click)="editMatrix(matrix)" class="btn btn-link"> {{ matrix.part_number
                            }}</button><span *ngIf="login_role == 'user'">{{ matrix.part_number
                            }}</span></td>
                        <td><span>{{ matrix.plant }}</span></td>
                        <td class="status">
                            <div class="grid-header card shadow-sm border-0 rounded-4 overflow-hidden">
                                <div class="card-body p-2">
                                    <ul class="list-unstyled">
                                        <li class="disply-flex mb-2"><i class="bi bi-check mr-1 mb-2"></i>
                                            <p class="card-text mb-0"><i class="fade-color mr-2">Row:</i>
                                               <strong><span class="active">{{matrix.control_plan_data.row}}</span> </strong></p>
                                        </li>
                                        <li class="disply-flex"><i class="bi bi-check mr-1"></i>
                                            <p class="card-text mb-0"><i
                                                    class="fade-color mr-2">Column:</i><strong><span class="danger">{{matrix.control_plan_data.column}}</span></strong>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="status">
                            <div class="grid-header card shadow-sm border-0 rounded-4 overflow-hidden">
                                <div class="card-body p-2">
                                    <ul class="list-unstyled">
                                        <li class="disply-flex mb-2"><i class="bi bi-check mr-1 mb-2"></i>
                                            <p class="card-text mb-0"><i class="fade-color mr-2">Row:</i>
                                               <strong><span class="active"> {{matrix.book_data.row}}</span></strong> </p>
                                        </li>
                                        <li class="disply-flex"><i class="bi bi-check mr-1"></i>
                                            <p class="card-text mb-0"><i
                                                    class="fade-color mr-2">Column:</i><strong><span class="danger">{{matrix.book_data.column}}</span> </strong> </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>{{ matrix.control_plan_number }}</td>
                        <td><button class="btn btn-link" style="color: red;" (click)="deleteConfirm(matrix)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginator">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="filtermodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="filtermodalLabel">Filters</h6>
            </div>
            <div class="modal-body">
                <form [formGroup]="filterForm" class="form-signin">
                    <label for="part_number" class="sr-only">Part Number</label>
                    <input type="text" formControlName="part_number" autocomplete="off" id="part_number"
                        class="form-control" placeholder="Part Number" autofocus /> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary custom-btn" data-dismiss="modal"
                    (click)="applyFilter()">Apply</button>
                <button type="button" class="btn btn-outline-secondary custom-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h6 class="modal-title" id="deleteModalLabel"> <i class="fa fa-exclamation-triangle font-danger mr-2"></i>Confirm Deletion</h6>
            </div>
            <div class="modal-body">
                <label>Are you sure you want to permanently delete this item?</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger custom-btn" data-dismiss="modal"
                    (click)="delete()">Delete</button>
                <button type="button" class="btn btn-outline-secondary custom-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>