<form [formGroup]="loginForm" class="form-signin">
  <img class="mb-4" src="https://staph.blob.core.windows.net/images-layout/logo.svg" alt="" width="150">
  <app-alerts [errorAlert]="isError" [Message]="Message"></app-alerts>
   <div class="col-12" *ngIf="(loginForm.get('username')?.invalid && loginForm.get('username')?.touched) || 
  (loginForm.get('password')?.invalid && loginForm.get('password')?.touched)"><span style="color: rgb(221, 7, 7); font-size: small;">* Username, Password is required</span></div>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    type="text"
    formControlName="username"
    autocomplete="off"
    id="inputEmail"
    [ngClass]="{ 'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched }"
    class="form-control"
    placeholder="User name"
    required
    autofocus
  />

  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    formControlName="password"
    id="inputPassword"
    [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
    class="form-control"
    placeholder="Password"
    required
  /> 
  <div class="checkbox mb-3">
    <button type="button" (click)="register()" class="btn btn-link">Create new user?</button>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2024-2025</p>
</form>
<app-loader [loading]="isLoading"></app-loader>