::ng-deep body{
    align-items: center !important;
}
::ng-deep .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
::ng-deep .custom-btn{
  text-transform: none !important; 
  margin-top:1rem;
  margin-right: .5rem;
}