<app-header></app-header>
<div class="container mt-4">
    <div class="text-center">
        <label class="welcome text-center">Hi, {{loginname}}</label>
        <img class="mb-3" src="https://staph.blob.core.windows.net/images-layout/logo.svg" alt="" width="60">
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 5px;" *ngFor="let link of quickLinks">
            <div class="card h-100 text-center shadow">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="fs-1 mb-3">{{ link.icon }}</div>
                        <h5 class="card-title">{{ link.title }}</h5>
                        <p class="card-text text-muted">{{ link.description }}</p>
                    </div>
                    <a [routerLink]="link.route" class="btn btn-primary mt-3 w-100">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>